label
    grid-area: 1 / 1 / -1 / -1
    text-align: center
    color: $accent-dark
    
#userWord
    grid-area: 2 / 1 / 2 / -1

.start-clear
    background: linear-gradient($primary,$accent-dark)
    width: 2fr
    color: rgba(255, 255, 255, 0.8)
    grid-column: auto / span 2


.btn
    grid-area: 4 / 1 / 4 / -1
    text-decoration: none
    color:  $accent-dark

.btn--primary
    grid-area: 4 / 1 / 4 / 3

.btn--secondary
    grid-area: 4 / 3 / 4 / 5

.btn--third
    grid-area: 4 / 5 / 4 / -1

.start-clear, #userWord, .btn
    padding: 0 3rem
    height: 2rem
    border-radius: 5px
    text-align: center
    align-content: center
    border: 1px solid rgba(200, 200, 200, 0.2)

#userWord, .btn
    background: rgba(lighten($secondary, 30%), 0.3)

