.main-header
    margin-top: 10vh
    text-align: center
    max-width: 90vw
    height: 10vh
    
.hero
    display: flex
    flex-direction: column
    flex-wrap: wrap
    margin: 5vh 20vw
    align-items: center
    border: 2px solid rgba(255, 255, 255, 0.45)
    border-radius: 15px
    backdrop-filter: blur(20px)
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2)
    gap: 2rem
    padding: 3em

.hero-container
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-template-rows: repeat(4 1fr)
    wrap: wrap
    max-width: 100%
    height: auto
    gap: 1.5em
    align-content: center

//background: rgb(lighten($primary, 20%), 0.20)
//background: linear-gradient($primary, $secondary)